[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/vim-fish"]
	path = .vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish
